In [1]:
# standard includes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("Creps.csv")

In [3]:
df.head()

,Unnamed: 0,BrnchOfLoc_city,BrnchOfLoc_cntry,BrnchOfLoc_postlCd,BrnchOfLoc_state,BrnchOfLoc_str1,BrnchOfLoc_str2,CrntEmp_city,CrntEmp_cntry,CrntEmp_orgNm,...,Info_sufNm,OthrBus_desc,OthrNm_firstNm,OthrNm_lastNm,OthrNm_midNm,OthrNm_sufNm,PrevRgstn_orgNm,PrevRgstn_orgPK,PrevRgstn_regBeginDt,PrevRgstn_regEndDt
0,0,CHICAGO,NaN,NaN,IL,NaN,NaN,NEW YORK,United States,"MERRILL LYNCH, PIERCE, FENNER & SMITH INCORPOR...",...,NaN,NaN,JENNIFER,FAJURI,ANNE,NaN,MORGAN STANLEY,149777.0,2012-10-17,2013-05-02
1,1,KENT,United States,98030,WA,24909 104TH AVE S E SUITE 100,NaN,ST. LOUIS,United States,EDWARD JONES,...,NaN,NaN,Zach,Baggenstos,Daniel,NaN,NaN,NaN,NaN,NaN
2,2,NEW YORK,NaN,NaN,NY,NaN,NaN,NEW YORK,United States,"AXA ADVISORS, LLC",...,NaN,NaN,JAMES,MASSEY,D,NaN,"E*TRADE CAPITAL MANAGEMENT, LLC",42159.0,2013-07-10,2016-03-24
3,3,TAMPA,United States,33618,FL,14497 N DALE MABRY HWY,STE 240-Y,DULUTH,United States,PFS INVESTMENTS INC.,...,NaN,"SALES OF INVESTMENT-RELATED PRODUCTS, PART-TIM...",TYLER,ZIMMERLY,ETHAN,NaN,NaN,NaN,NaN,NaN
4,4,DUNEDIN,New Zealand,9016,NaN,330 MORAY PLACE,NaN,DORADO,United States,"EURO PACIFIC ASSET MANAGEMENT, LLC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Types with count of Current registration status
df['CrntRgstn_st'].value_counts()

APPROVED        294370
APPROVED_RES     59359
TEMPREG             10
SUSPENSION           2
REQUAL               1
Name: CrntRgstn_st, dtype: int64

In [5]:
#number of individuals
df['Info_indvlPK'].count()

353742

In [6]:
#Types with count of Current registration status
df['Info_actvAGReg'].value_counts()

Y    291606
N     62136
Name: Info_actvAGReg, dtype: int64

In [7]:
df['CrntRgstn_stDt'] = pd.to_datetime(df['CrntRgstn_stDt'])
df['EmpHs_toDt'] = pd.to_datetime(df['EmpHs_toDt'])
df['EmpHs_fromDt'] = pd.to_datetime(df['EmpHs_fromDt'])
df['PrevRgstn_regBeginDt'] = pd.to_datetime(df['PrevRgstn_regBeginDt'])
df['PrevRgstn_regEndDt'] = pd.to_datetime(df['PrevRgstn_regEndDt'])

In [ ]:
df.info()

In [ ]:
df2 = df.groupby(['CrntRgstn_stDt'], as_index=False)['Info_indvlPK'].count()
df2.sort_values(['CrntRgstn_stDt'], ascending=False).head()

The number of registrations have increased

In [ ]:
# histogram of duration of the trip in minutes
plt.hist('CrntRgstn_stDt', bins=100,data=df)
plt.xlabel('Distribution of data year wise')
plt.show()

In [ ]:
sec = pd.read_csv('bitcamp/Investment Adviser Firm Reports/IA_FIRM_SEC_Feed_04_11_2019.csv')

In [16]:
df4 = pd.read_csv('input_100K_dtree.csv')

In [26]:
df4['Exm_exmCd'].unique()

array(['S66', 'S65', 'S63'], dtype=object)

In [25]:
df4['Exm_exmNm'].unique()

array(['Uniform Combined State Law Examination',
       'Uniform Investment Adviser Law Examination',
       'Uniform Securities Agent State Law Examination'], dtype=object)

In [24]:
df4['DRP_hasBankrupt'] = df4['DRP_hasBankrupt'].fillna(df4['DRP_hasBankrupt'].mode()[0])
df4['DRP_hasBond'] = df4['DRP_hasBond'].fillna(df4['DRP_hasBond'].mode()[0])
df4['DRP_hasCivilJudc'] = df4['DRP_hasCivilJudc'].fillna(df4['DRP_hasCivilJudc'].mode()[0])
df4['DRP_hasCriminal'] = df4['DRP_hasCriminal'].fillna(df4['DRP_hasCriminal'].mode()[0])
df4['DRP_hasCustComp'] = df4['DRP_hasCustComp'].fillna(df4['DRP_hasCustComp'].mode()[0])
df4['DRP_hasInvstgn'] = df4['DRP_hasInvstgn'].fillna(df4['DRP_hasInvstgn'].mode()[0])
df4['DRP_hasJudgment'] = df4['DRP_hasJudgment'].fillna(df4['DRP_hasJudgment'].mode()[0])
df4['DRP_hasRegAction'] = df4['DRP_hasRegAction'].fillna(df4['DRP_hasRegAction'].mode()[0])
df4['DRP_hasTermination'] = df4['DRP_hasTermination'].fillna(df4['DRP_hasTermination'].mode()[0])
df4['Dsgntn_dsgntnNm'] = df4['Dsgntn_dsgntnNm'].fillna(df4['Dsgntn_dsgntnNm'].mode()[0])
df4['Exm_exmCd'] = df4['Exm_exmCd'].fillna(df4['Exm_exmCd'].mode()[0])
df4['Exm_exmNm'] = df4['Exm_exmNm'].fillna(df4['Exm_exmNm'].mode()[0])

In [27]:
df4.shape[0]

99999

In [28]:
df4.to_csv('input_100K_dtree.csv')

In [29]:
df4['Dsgntn_dsgntnNm'].value_counts()

Certified Financial Planner       94368
Chartered Financial Consultant     2915
Chartered Financial Analyst        2259
Personal Financial Specialist       411
Chartered Investment Counselor       46
Name: Dsgntn_dsgntnNm, dtype: int64